body {
	background-color: wheat;
}

#title1 {
	text-align: center;
}

#designer {
	text-align: right;
}

#visitgithub {
	text-align: right;
}

#welcome {
	background-color: #f5bb88;
}

#trytoask {
	background-color: gray;
}